Repository voxel51/fiftyone, pull requests merged in 2020-09, with the labels that each got.

#467 Highlight quickstart on install page
  docs/source/getting_started/install.rst
  docs/source/index.rst
  docs/source/user_guide/app.rst
Labels: documentation

#459 View stage enhancements
  docs/source/cli/index.rst
  electron/app/components/CheckboxGrid.tsx
  electron/app/components/DisplayOptionsSidebar.tsx
  electron/app/components/ViewBar/ViewStage/viewStageParameterMachine.ts
  electron/app/components/ViewBar/viewBarMachine.ts
  fiftyone/core/cli.py
  fiftyone/core/collections.py
  fiftyone/core/dataset.py
  fiftyone/core/expressions.py
  fiftyone/core/stages.py
  fiftyone/core/state.py
  fiftyone/core/view.py
  fiftyone/utils/tf.py
  tests/unittests.py
Labels: core

#481 Remove pycocotools dependency
  docs/source/recipes/draw_labels.ipynb
  docs/source/tutorials/evaluate_detections.ipynb
  fiftyone/utils/eval/coco.py
Labels: enhancement

#489 Add back port form modal
  electron/app/containers/App.tsx
Labels: app, bug

#488 Overlay fix
  electron/app/components/Player51.tsx
Labels: app, bug

#484 v0.5.3 release notes
  docs/source/release-notes.rst
  package/gui/setup.py
  setup.py
Labels: documentation

#497 Adjust issue/PR templates
  .github/ISSUE_TEMPLATE/bug_report_template.md
  .github/ISSUE_TEMPLATE/documentation_issue_template.md
  .github/ISSUE_TEMPLATE/feature_request_template.md
  .github/ISSUE_TEMPLATE/installation_issue_template.md
  .github/pull_request_template.md
Labels: standard

#483 Standardize app external links
  .github/workflows/chromatic.yml
  electron/.storybook/main.js
  electron/app/components/ExternalLink.stories.tsx
  electron/app/components/ExternalLink.tsx
  electron/app/components/Header.tsx
  electron/app/components/ViewBar/ViewBar.tsx
  electron/app/components/ViewBar/ViewStage/ViewStage.tsx
  electron/app/package.json
  electron/app/utils/generic.ts
  electron/app/yarn.lock
  electron/package.json
  electron/yarn.lock
Labels: app, cleaning

#498 GitHub actions: test on Windows
  .github/workflows/build.yml
  tests/unittests.py
Labels: ci

#499 Prevent modal navigation when an input is in focus
  electron/app/components/SampleModal.tsx
Labels: app, bug

#501 Import/export COCO categories
  docs/source/user_guide/dataset_creation/datasets.rst
  docs/source/user_guide/export_datasets.rst
  fiftyone/types/dataset_types.py
  fiftyone/utils/coco.py
Labels: enhancement

#502 Sample modal focus tweaks
  electron/app/components/SampleModal.tsx
Labels: app, enhancement

#503 Fixes confidence slider look and feel in production build
  electron/app/components/Filter.tsx
Labels: app, bug

#504 Fix matching some special characters in string fields
  fiftyone/core/expressions.py
  tests/unittests.py
Labels: bug, core

#495 Docs cleanup
  .github/ISSUE_TEMPLATE/bug_report_template.md
  .github/ISSUE_TEMPLATE/documentation_issue_template.md
  .github/ISSUE_TEMPLATE/feature_request_template.md
  .github/ISSUE_TEMPLATE/installation_issue_template.md
  .github/pull_request_template.md
  .github/workflows/build.yml
  .github/workflows/chromatic.yml
  docs/source/user_guide/dataset_creation/datasets.rst
  docs/source/user_guide/export_datasets.rst
  electron/.storybook/main.js
  electron/app/components/ExternalLink.stories.tsx
  electron/app/components/ExternalLink.tsx
  electron/app/components/Filter.tsx
  electron/app/components/Header.tsx
  electron/app/components/Player51.tsx
  electron/app/components/SampleModal.tsx
  electron/app/components/ViewBar/ViewBar.tsx
  electron/app/components/ViewBar/ViewStage/ViewStage.tsx
  electron/app/package.json
  electron/app/utils/generic.ts
  electron/app/utils/labels.ts
  electron/app/yarn.lock
  electron/package.json
  electron/yarn.lock
  fiftyone/core/expressions.py
  fiftyone/types/dataset_types.py
  fiftyone/utils/coco.py
  tests/unittests.py
Labels: bug, cleaning, documentation

#512 CI: fix upgrading pip on Windows
  .github/workflows/build.yml
Labels: ci

#486 View bar reskin and logic updates
  electron/app/Routes.tsx
  electron/app/components/Header.tsx
  electron/app/components/HorizontalNav.tsx
  electron/app/components/SampleModal.tsx
  electron/app/components/Samples.tsx
  electron/app/components/ViewBar/ViewBar.tsx
  electron/app/components/ViewBar/ViewStage/ErrorMessage.tsx
  electron/app/components/ViewBar/ViewStage/SearchResults.tsx
  electron/app/components/ViewBar/ViewStage/ViewStage.tsx
  electron/app/components/ViewBar/ViewStage/ViewStageParameter.tsx
  electron/app/components/ViewBar/ViewStage/viewStageMachine.ts
  electron/app/components/ViewBar/ViewStage/viewStageParameterMachine.ts
  electron/app/components/ViewBar/viewBarMachine.ts
  electron/app/containers/App.tsx
  electron/app/containers/SamplesContainer.tsx
  electron/app/shared/colors.ts
  electron/app/utils/hooks.ts
Labels: app, design, enhancement

#509 Selection options
  electron/app/components/ImageContainerHeader.tsx
  electron/app/components/Sample.tsx
  electron/app/components/Samples.tsx
  electron/app/components/SelectionMenu.tsx
  electron/app/components/Tags/DropdownTag.stories.tsx
  electron/app/components/Tags/DropdownTag.tsx
  electron/app/components/Tags/Menu.tsx
  electron/app/containers/App.tsx
  electron/app/recoil/atoms.ts
  electron/app/shared/colors.ts
  fiftyone/server/main.py
Labels: app, feature

#516 Adding support for exporting classification labels in detection format
  fiftyone/core/collections.py
  fiftyone/core/odm/sample.py
  fiftyone/core/stages.py
  fiftyone/utils/data/base.py
  fiftyone/utils/data/exporters.py
Labels: feature

#518 ViewBar: Focus on enter for active stages, move right on stage commit
  electron/app/components/ViewBar/ViewStage/ViewStage.tsx
  electron/app/components/ViewBar/ViewStage/viewStageMachine.ts
  electron/app/components/ViewBar/viewBarMachine.ts
Labels: app, enhancement

#513 v0.5.4 release notes
  README.md
  docs/source/release-notes.rst
  fiftyone/core/collections.py
  package/gui/setup.py
  setup.py
Labels: documentation

#521 Adding examples for demo
  docs/source/index.rst
  docs/source/user_guide/basics.rst
  docs/source/user_guide/using_datasets.rst
  examples/evaluate_detections.md
  examples/image_uniqueness.md
  examples/wrangling_datasets.md
Labels: documentation

#523 Session.wait(): add support for remote sessions and attempt to detect when it should be used
  fiftyone/core/cli.py
  fiftyone/core/session.py
  tests/session_tests.py
  tests/utils/session_helper.py
Labels: core, enhancement, server

#508 Add support for filtering sample JSON
  electron/app/components/JSONView.tsx
  electron/app/components/Player51.tsx
  electron/app/components/SampleModal.tsx
  electron/app/recoil/selectors.ts
  electron/app/utils/labels.ts
Labels: app, feature

#527 App::ViewStageParameter: Simpler parameter placeholders
  electron/app/components/ViewBar/ViewStage/ViewStageParameter.tsx
  electron/app/components/ViewBar/ViewStage/viewStageMachine.ts
  electron/app/components/ViewBar/ViewStage/viewStageParameterMachine.ts
  electron/app/components/ViewBar/viewBarMachine.ts
  fiftyone/core/stages.py
Labels: app

#522 Docs header updates
  docs/source/_static/css/custom.css
  docs/source/_static/css/voxel51-website.css
  docs/source/_templates/layout.html
  docs/source/conf.py
  setup.py
Labels: documentation, enhancement

#530 Fix stories for components that need redux
  electron/.storybook/preview.js
Labels: ci

#531 Stage UUIDs
  electron/app/components/ViewBar/ViewBar.tsx
  electron/app/components/ViewBar/ViewStage/ViewStage.tsx
  electron/app/components/ViewBar/ViewStage/viewStageMachine.ts
  electron/app/components/ViewBar/ViewStage/viewStageParameterMachine.ts
  electron/app/components/ViewBar/viewBarMachine.ts
  fiftyone/core/stages.py
  tests/unittests.py
Labels: app, bug, enhancement

#532 Style scrollbars
  electron/app/components/DisplayOptionsSidebar.tsx
  electron/app/components/JSONView.tsx
  electron/app/components/utils.tsx
  electron/app/shared/global.ts
Labels: app, design, enhancement

#533 Release 0.5.5
  .github/workflows/build-db.yml
  .github/workflows/build-docs.yml
  .github/workflows/build-gui.yml
  .github/workflows/build.yml
  docs/source/release-notes.rst
  electron/app/package.json
  electron/package.json
  fiftyone/service/util.py
  package/gui/setup.py
  setup.py
  tests/isolated/server_tests.py
  tests/isolated/service_tests.py
  tests/utils/pytest_wrapper.py
Labels: setup

#534 Server: Skip bounds calculations when no fields are present
  fiftyone/core/state.py
  tests/isolated/server_tests.py
Labels: app, bug, server

#535 GitHub actions updates/cleanup
  .github/tools/check-setup-version.py
  .github/workflows/build-db.yml
  .github/workflows/build-docs.yml
  .github/workflows/build-gui.yml
  .github/workflows/build.yml
  .github/workflows/chromatic.yml
  package/db/setup.py
  package/gui/setup.py
  pytest.ini
Labels: ci, cleaning, enhancement

#537 Remove disabled chromatic note in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: cleaning

#536 Refactor and improve performance of custom hooks
  electron/app/components/SampleModal.tsx
  electron/app/components/ViewBar/ViewStage/ErrorMessage.tsx
  electron/app/components/ViewBar/ViewStage/SearchResults.tsx
  electron/app/containers/SamplesContainer.tsx
  electron/app/utils/hooks.ts
Labels: bug, cleaning, enhancement

#538 Fix some errors related to empty datasets/views
  electron/app/recoil/selectors.ts
Labels: app, bug, cleaning

#544 Server error messages
  electron/app/components/NotificationHub/NotificationHub.stories.tsx
  electron/app/components/NotificationHub/NotificationHub.tsx
  electron/app/components/NotificationHub/index.tsx
  electron/app/containers/App.tsx
  fiftyone/core/client.py
  fiftyone/server/main.py
Labels: app, core, enhancement, server

#543 ViewBar enhancements
  electron/.storybook/preview.js
  electron/app/components/Filter.tsx
  electron/app/components/JSONView.stories.tsx
  electron/app/components/Player51.tsx
  electron/app/components/RangeSlider.stories.tsx
  electron/app/components/RangeSlider.tsx
  electron/app/components/Sample.tsx
  electron/app/components/SampleModal.stories.tsx
  electron/app/components/SampleModal.tsx
  electron/app/components/SelectionMenu.tsx
  electron/app/components/ViewBar/ViewStage/BestMatch.tsx
  electron/app/components/ViewBar/ViewStage/ErrorMessage.tsx
  electron/app/components/ViewBar/ViewStage/SearchResults.tsx
  electron/app/components/ViewBar/ViewStage/ViewStage.tsx
  electron/app/components/ViewBar/ViewStage/ViewStageParameter.tsx
  electron/app/components/ViewBar/ViewStage/utils.ts
  electron/app/components/ViewBar/ViewStage/viewStageMachine.ts
  electron/app/components/ViewBar/ViewStage/viewStageParameterMachine.ts
  electron/app/components/ViewBar/viewBarMachine.ts
  electron/app/containers/Dataset.tsx
  electron/app/shared/global.ts
  electron/app/utils/hooks.ts
  electron/package.json
  fiftyone/core/stages.py
  fiftyone/core/state.py
  fiftyone/core/view.py
  fiftyone/server/json_util.py
  fiftyone/server/main.py
  fiftyone/server/util.py
  tests/isolated/server_tests.py
Labels: app, enhancement

#548 Dataset import enhancements
  .github/workflows/build.yml
  docs/source/cli/index.rst
  docs/source/recipes/custom_importer.ipynb
  docs/source/user_guide/dataset_creation/datasets.rst
  docs/source/user_guide/dataset_creation/zoo.rst
  fiftyone/core/cli.py
  fiftyone/core/dataset.py
  fiftyone/utils/bdd.py
  fiftyone/utils/coco.py
  fiftyone/utils/cvat.py
  fiftyone/utils/data/exporters.py
  fiftyone/utils/data/importers.py
  fiftyone/utils/data/ingestors.py
  fiftyone/utils/kitti.py
  fiftyone/utils/tf.py
  fiftyone/utils/voc.py
  fiftyone/zoo/__init__.py
  tests/README.md
  tests/import_export/dataset_tests.py
  tests/import_export/zoo_tests.py
Labels: feature

#549 Adding support for merging dataset contents
  fiftyone/core/dataset.py
  fiftyone/core/sample.py
  tests/unittests.py
Labels: feature

#547 Release 0.5.6
  .github/workflows/build.yml
  docs/source/release-notes.rst
  electron/app/package.json
  electron/package.json
  package/gui/setup.py
  setup.py
  tests/unittests.py
Labels: setup

#552 Upgrade recoil to 0.0.13
  electron/package.json
  electron/yarn.lock
Labels: app, dependencies

#550 Optimizing Dataset.rename_field()
  fiftyone/core/dataset.py
  fiftyone/core/odm/sample.py
  fiftyone/core/sample.py
Labels: core, enhancement

#563 Serializes numpy arrays as lists for server
  fiftyone/server/json_util.py
  tests/isolated/server_tests.py
Labels: app, bug, server

#561 Serialize vector fields as numpy arrays
  fiftyone/core/fields.py
  fiftyone/core/odm/sample.py
Labels: bug

#569 Fixes bounding box bug
  WALKTHROUGH.md
  docs/source/tutorials/evaluate_detections.ipynb
  docs/source/user_guide/basics.rst
  docs/source/user_guide/using_datasets.rst
  fiftyone/__public__.py
  fiftyone/core/labels.py
  fiftyone/core/utils.py
  fiftyone/utils/kitti.py
  fiftyone/utils/tf.py
Labels: bug
