Repository voxel51/fiftyone, pull requests merged in 2020-11, with the labels that each got.

#657 Only show filtered count when informative
  electron/app/components/ImageContainerHeader.tsx
Labels: app, enhancement

#656 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: standard

#658 Compare _cls and kwargs when comparing view stages in the App
  electron/app/components/ViewBar/viewBarMachine.ts
Labels: app, bug

#654 Remove stage validation from aggregate
  fiftyone/core/view.py
  fiftyone/server/main.py
Labels: cleaning

#655 Adding LFW to the zoo
  docs/source/user_guide/dataset_creation/zoo.rst
  fiftyone/core/cli.py
  fiftyone/utils/lfw.py
  fiftyone/zoo/__init__.py
  fiftyone/zoo/base.py
Labels: feature

#661 Contributing update
  CONTRIBUTING.md
  ISSUE_POLICY.md
  ISSUE_TRIAGE.md
Labels: documentation

#664 Update selection menu to use new state shape
  electron/app/components/SelectionMenu.tsx
Labels: bug

#667 Omit private fields from App dropdown menus
  electron/app/recoil/selectors.ts
Labels: app

#671 Adding Cityscapes dataset to the zoo
  docs/source/cli/index.rst
  docs/source/user_guide/dataset_creation/zoo.rst
  fiftyone/__public__.py
  fiftyone/core/cli.py
  fiftyone/core/dataset.py
  fiftyone/utils/bdd.py
  fiftyone/utils/cityscapes.py
  fiftyone/utils/data/exporters.py
  fiftyone/utils/imagenet.py
  fiftyone/zoo/__init__.py
  fiftyone/zoo/base.py
  fiftyone/zoo/tf.py
  fiftyone/zoo/torch.py
Labels: feature

#669 Use entry paths for storing filters
  electron/app/components/Filter.tsx
  fiftyone/server/main.py
Labels: app, bug

#676 View Bar fixes
  electron/app/components/Filter.tsx
  electron/app/components/ViewBar/ViewStage/SearchResults.tsx
  electron/app/components/ViewBar/ViewStage/ViewStageParameter.tsx
  electron/app/components/ViewBar/ViewStage/viewStageMachine.ts
  electron/app/components/ViewBar/ViewStage/viewStageParameterMachine.ts
Labels: app, bug

#679 Only expand sample labels to frames for App
  fiftyone/server/main.py
Labels: bug, server

#677 Adding support for exporting/importing labels to/from Labelbox
  fiftyone/core/collections.py
  fiftyone/core/labels.py
  fiftyone/utils/labelbox.py
  tests/misc/labelbox_tests.py
Labels: feature

#680 Adding support for exporting/importing labels to/from Scale AI
  fiftyone/utils/labelbox.py
  fiftyone/utils/scale.py
  tests/misc/labelbox_tests.py
  tests/misc/scale_tests.py
Labels: feature

#685 Environments and FAQ Doc updates
  docs/source/environments/index.rst
  docs/source/faq/index.rst
  docs/source/getting_started/troubleshooting.rst
  docs/source/index.rst
  docs/source/user_guide/app.rst
Labels: documentation

#668 Expandable plots
  electron/app/Routes.tsx
  electron/app/app.global.css
  electron/app/components/DisplayOptionsSidebar.tsx
  electron/app/components/Distributions.tsx
  electron/app/components/DropdownHandle.tsx
  electron/app/components/Header.tsx
  electron/app/components/HorizontalNav.stories.tsx
  electron/app/components/HorizontalNav.tsx
  electron/app/components/ImageContainerHeader.tsx
  electron/app/components/Sample.tsx
  electron/app/components/Samples.hooks.ts
  electron/app/components/Samples.tsx
  electron/app/components/utils.tsx
  electron/app/constants/routes.json
  electron/app/containers/App.tsx
  electron/app/containers/Dataset.tsx
  electron/app/containers/SamplesContainer.tsx
  electron/app/recoil/atoms.ts
  electron/app/utils/hooks.ts
  electron/app/utils/tile.ts
  electron/package.json
  electron/yarn.lock
Labels: app, enhancement

#686 Data model updates
  electron/app/components/CheckboxGrid.tsx
  electron/app/components/FieldsSidebar.tsx
  electron/app/components/Sample.tsx
  electron/app/components/SampleModal.tsx
  electron/app/utils/labels.ts
  fiftyone/core/collections.py
  fiftyone/core/dataset.py
  fiftyone/core/document.py
  fiftyone/core/frame.py
  fiftyone/core/labels.py
  fiftyone/core/odm/document.py
  fiftyone/core/odm/mixins.py
  fiftyone/core/odm/sample.py
  fiftyone/core/sample.py
  fiftyone/core/stages.py
  fiftyone/core/view.py
  fiftyone/migrations/revisions/v0_6_5.py
  fiftyone/utils/bdd.py
  fiftyone/utils/data/exporters.py
  tests/unittests/aggregation_tests.py
  tests/unittests/dataset_tests.py
  tests/unittests/sample_tests.py
  tests/unittests/synchronization_tests.py
  tests/unittests/view_tests.py
Labels: core, enhancement

#698 Resolves dataset zoo type bug
  fiftyone/zoo/tf.py
  fiftyone/zoo/torch.py
Labels: bug

#695 Add ssh-key kwarg to CLI app connect
  docs/source/cli/index.rst
  docs/source/environments/index.rst
  docs/source/user_guide/app.rst
  fiftyone/core/cli.py
Labels: core, documentation, enhancement

#692 Adding support for customizing local port when connecting to App via CLI
  docs/source/cli/index.rst
  docs/source/environments/index.rst
  docs/source/user_guide/app.rst
  fiftyone/core/cli.py
Labels: core, enhancement

#694 Update FAQ with examples for remote sessions
  docs/source/environments/index.rst
  docs/source/faq/index.rst
  docs/source/release-notes.rst
  docs/source/user_guide/app.rst
  docs/source/user_guide/brain.rst
  docs/source/user_guide/dataset_creation/datasets.rst
  docs/source/user_guide/export_datasets.rst
Labels: documentation

#699 Improved range sliders and loading states
  electron/app/components/CheckboxGrid.tsx
  electron/app/components/FieldsSidebar.tsx
  electron/app/components/Filter.tsx
  electron/app/components/HorizontalNav.tsx
  electron/app/components/NotificationHub/NotificationHub.tsx
  electron/app/components/NumericFieldFilter.tsx
  electron/app/components/RangeSlider.tsx
  electron/app/components/SampleModal.tsx
  electron/app/containers/App.tsx
  electron/app/containers/Dataset.tsx
  electron/app/containers/SamplesContainer.tsx
  electron/app/recoil/atoms.ts
  electron/app/recoil/selectors.ts
  fiftyone/core/stages.py
  fiftyone/server/main.py
Labels: app, bug, enhancement

#700 Detection mistakenness
  docs/source/_static/images/recipes/detection_mistakenness.png
  docs/source/recipes/detection_mistakenness.ipynb
  docs/source/recipes/images/det_mistakenness_1.png
  docs/source/recipes/images/det_mistakenness_2.png
  docs/source/recipes/images/det_mistakenness_3.png
  docs/source/recipes/images/det_mistakenness_4.png
  docs/source/recipes/images/det_mistakenness_5.png
  docs/source/recipes/images/det_mistakenness_6.png
  docs/source/recipes/index.rst
  docs/source/user_guide/brain.rst
  electron/app/utils/labels.ts
  fiftyone/core/odm/dataset.py
  fiftyone/utils/eval/coco.py
Labels: core, documentation, feature

#701 Release v0.6.6
  docs/source/recipes/detection_mistakenness.ipynb
  docs/source/release-notes.rst
  electron/app/package.json
  electron/package.json
  fiftyone/server/main.py
  package/gui/setup.py
  setup.py
Labels: release
