Repository voxel51/fiftyone, pull requests merged in 2022-12, with the labels that each got.

#2368 Compute sample and label tags counts seperately in tag UI
  app/packages/core/src/components/Actions/Tagger.tsx
Labels: cleaning, app

#2362 Add error handling to Looker
  app/packages/components/src/components/ErrorBoundary/ErrorBoundary.module.css
  app/packages/components/src/components/ErrorBoundary/ErrorBoundary.tsx
  app/packages/core/src/Dataset.ts
  app/packages/core/src/components/Grid/Grid.tsx
  app/packages/core/src/components/Modal/Looker.tsx
  app/packages/core/src/components/Modal/Modal.tsx
  app/packages/looker/src/elements/base.ts
  app/packages/looker/src/elements/common/error.ts
  app/packages/looker/src/elements/index.ts
  app/packages/looker/src/elements/video.ts
  app/packages/looker/src/icons/refresh.svg
  app/packages/looker/src/index.ts
  app/packages/looker/src/state.ts
  app/packages/looker/src/util.ts
  app/packages/looker/src/worker.ts
  app/packages/utilities/package.json
  app/packages/utilities/src/errors.ts
  app/packages/utilities/src/fetch.ts
  app/packages/utilities/src/index.ts
  app/yarn.lock
Labels: enhancement, app

#2385 Fix Flashlight resets
  app/packages/core/src/components/Grid/Grid.tsx
  app/packages/flashlight/src/index.ts
Labels: bug, app

#2393 Ensure sample is present when rendering an unloaded looker (Fix groups modal)
  app/packages/looker/src/index.ts
Labels: bug, app

#2394 Export External Link
  app/packages/components/src/components/index.ts
Labels: bug, cleaning, app

#2321 Use consistent animated Loading dots throughout the app
  app/packages/components/src/components/Loading/LoadingDots.module.css
  app/packages/components/src/components/Loading/LoadingDots.tsx
  app/packages/components/src/components/Selector/Selector.module.css
  app/packages/components/src/components/Selector/Selector.tsx
  app/packages/core/src/components/Actions/ActionsRow.tsx
  app/packages/core/src/components/Actions/Tagger.tsx
  app/packages/core/src/components/Common/CountSubcount.tsx
  app/packages/core/src/components/Common/Loading.tsx
  app/packages/core/src/components/Common/LoadingDots.module.css
  app/packages/core/src/components/Common/LoadingDots.tsx
  app/packages/core/src/components/Distributions.tsx
  app/packages/core/src/components/Filters/CategoricalFilter.tsx
  app/packages/core/src/components/Filters/withSuspense.tsx
  app/packages/core/src/components/ImageContainerHeader.tsx
  app/packages/core/src/components/Sidebar/Entries/EmptyEntry.tsx
  app/packages/core/src/components/Sidebar/Entries/EntryCounts.tsx
  app/packages/core/src/components/Sidebar/Entries/PathValueEntry.tsx
Labels: cleaning, app

#2403 Remove `none` as an option from other value options
  app/packages/core/src/components/Filters/CategoricalFilter.tsx
Labels: bug, app

#2406 Default App retries
  app/packages/utilities/src/fetch.ts
Labels: app

#2416 Cleaning aggregations
  app/packages/state/src/recoil/aggregations.ts
Labels: cleaning, app

#2415 Fix grid sync from event source
  app/packages/core/src/components/Grid/Grid.tsx
  app/packages/state/src/hooks/useStateUpdate.ts
Labels: bug, app

#2408 Never show expanded list for ID fields
  app/packages/core/src/components/Filters/CategoricalFilter.tsx
Labels: enhancement, app

#2423 Undo reformat of label
  app/packages/core/src/components/FieldLabelAndInfo/index.tsx
Labels: bug

#2398 Update notebook screenshots
  app/packages/app/src/index.tsx
  app/packages/components/src/components/Bar/Bar.module.css
  app/packages/components/src/components/TabOption/TabOption.tsx
  app/packages/components/src/components/ThemeProvider/index.tsx
  app/packages/core/package.json
  app/packages/core/src/components/Common/RangeSlider.tsx
  app/packages/core/src/components/ImageContainerHeader.tsx
  app/packages/core/src/components/ViewBar/ViewBar.tsx
  app/packages/looker-3d/package.json
  app/packages/looker-3d/src/Looker3d.tsx
  app/packages/looker/src/elements/common/thumbnail.module.css
  app/packages/map/src/Map.tsx
  app/packages/state/src/hooks/hooks-utils.ts
  app/packages/state/src/hooks/index.ts
  app/packages/state/src/hooks/useBeforeScreenshot.ts
  app/packages/state/src/hooks/useScreenshot.ts
  app/yarn.lock
  fiftyone/core/session/notebooks.py
  fiftyone/core/session/session.py
Labels: app, notebook

#2331 App unit tests and coverage reporting
  .github/workflows/build-desktop.yml
  .github/workflows/build.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .gitignore
  app/.gitignore
  app/README.md
  app/__mocks__/recoil-relay.ts
  app/__mocks__/recoil.ts
  app/package.json
  app/packages/app/package.json
  app/packages/app/src/ga.ts
  app/packages/plugins/src/index.test.ts
  app/packages/state/package.json
  app/packages/state/src/recoil/options.ts
  app/packages/state/src/recoil/selectors.ts
  app/packages/state/tests/hooks/useReset.test.tsx
  app/packages/state/tests/recoil/options.test.ts
  app/packages/state/tsconfig.json
  app/packages/state/vite.config.ts
  app/relay.config.json
  app/vite.config.ts
  app/yarn.lock
  fiftyone/server/app.py
  requirements/codecov.yml
  requirements/common.txt
  requirements/dev.txt
  requirements/github.txt
  requirements/test.txt
Labels: testing, standard, app

#2419 Graceful cleanup of multiple config docs
  fiftyone/core/odm/database.py
  tests/unittests/utils_tests.py
Labels: bug

#2301 Adding support for on-disk segmentations
  app/packages/app/package.json
  app/packages/app/vite.config.ts
  app/packages/looker/package.json
  app/packages/looker/src/index.ts
  app/packages/looker/src/numpy.ts
  app/packages/looker/src/util.ts
  app/packages/looker/src/worker.ts
  app/packages/looker/vite.config.ts
  app/packages/utilities/src/fetch.ts
  app/yarn.lock
  docs/source/user_guide/using_datasets.rst
  fiftyone/core/collections.py
  fiftyone/core/labels.py
  fiftyone/core/models.py
  fiftyone/core/sample.py
  fiftyone/core/utils.py
  fiftyone/utils/data/exporters.py
  fiftyone/utils/data/importers.py
  fiftyone/utils/eta.py
  fiftyone/utils/eval/segmentation.py
  fiftyone/utils/flash.py
  fiftyone/utils/labelbox.py
  fiftyone/utils/labels.py
  fiftyone/utils/labelstudio.py
  fiftyone/zoo/models/torch.py
  tests/intensive/evaluation_tests.py
  tests/unittests/evaluation_tests.py
  tests/unittests/import_export_tests.py
Labels: feature

#2422 Fix none filter for numeric field
  app/packages/core/src/components/Filters/NumericFieldFilter.tsx
  app/packages/state/src/recoil/pathFilters/numeric.ts
Labels: bug, app

#2440 Remove label query from sample tagger data flow
  app/packages/core/src/components/Actions/Tagger.tsx
  app/packages/core/src/components/Actions/utils.tsx
  app/packages/core/tests/components/Actions/utils.test.ts
Labels: app

#2450 CSV exporter
  docs/source/user_guide/export_datasets.rst
  fiftyone/types/dataset_types.py
  fiftyone/utils/csv.py
  tests/unittests/import_export_tests.py
Labels: feature

#2418 Allow frame-level fields to be passed via export(label_field=)
  fiftyone/core/collections.py
  fiftyone/utils/data/exporters.py
  tests/unittests/import_export_tests.py
Labels: enhancement

#2332 Grouped dataset upgrades
  fiftyone/core/collections.py
  fiftyone/core/dataset.py
  fiftyone/core/odm/mixins.py
  fiftyone/core/view.py
  fiftyone/utils/groups.py
  tests/unittests/group_tests.py
Labels: enhancement

#2372 Upgrades to set_values() and a new set_label_values() method
  docs/source/user_guide/using_datasets.rst
  docs/source/user_guide/using_views.rst
  fiftyone/core/clips.py
  fiftyone/core/collections.py
  fiftyone/core/dataset.py
  fiftyone/core/odm/__init__.py
  fiftyone/core/odm/dataset.py
  fiftyone/core/odm/embedded_document.py
  fiftyone/core/odm/mixins.py
  fiftyone/core/odm/utils.py
  fiftyone/core/patches.py
  fiftyone/core/video.py
  tests/unittests/patches_tests.py
  tests/unittests/video_tests.py
  tests/unittests/view_tests.py
Labels: feature

#2361 Using dataset as source of truth for existing frames when sampling frames with to_frames()
  fiftyone/core/collections.py
  fiftyone/core/stages.py
  fiftyone/core/video.py
  tests/unittests/video_tests.py
Labels: bug

#2348 Documenting how to use custom torch models with builtin FiftyOne methods
  docs/source/user_guide/model_zoo/index.rst
  fiftyone/utils/torch.py
Labels: documentation
