Repository voxel51/fiftyone, pull requests merged in 2022-07, with the labels that each got.

#1917 Fix bug when loading group ids in CVAT video tasks
  fiftyone/utils/cvat.py
  tests/intensive/cvat_tests.py
Labels: bug, annotation

#1924 Handle sample tags with "." in App
  app/packages/app/src/recoil/aggregations.ts
Labels: bug, app

#1926 [BUG] Resolve bug when uploading to projects in CVAT
  fiftyone/utils/cvat.py
  tests/intensive/cvat_tests.py
Labels: bug, annotation

#1930 Fix result alignment in App
  app/packages/app/src/components/Filters/CategoricalFilter.tsx
  app/packages/components/src/components/Results/Results.tsx
Labels: bug, app

#1949 Fix App masks
  fiftyone/server/query.py
Labels: bug, server

#1937 Adding quantiles aggregation
  docs/source/user_guide/using_aggregations.rst
  fiftyone/__public__.py
  fiftyone/core/aggregations.py
  fiftyone/core/collections.py
  fiftyone/core/expressions.py
  tests/unittests/aggregation_tests.py
Labels: feature
