Repository voxel51/fiftyone, pull requests merged in 2023-08, with the labels that each got.

#3343 Convert to mixed view for group datasets when making optimized sample collection
  fiftyone/core/view.py
  fiftyone/server/aggregations.py
  fiftyone/server/routes/tag.py
  fiftyone/server/routes/tagging.py
  fiftyone/server/tags.py
  tests/unittests/view_tests.py
Labels: bug, core

#2949 Torch Hub integration
  docs/scripts/make_model_zoo_docs.py
  docs/source/_static/images/integrations/pytorch.png
  docs/source/integrations/index.rst
  docs/source/integrations/pytorch_hub.rst
  docs/source/user_guide/model_zoo/api.rst
  docs/source/user_guide/model_zoo/index.rst
  fiftyone/core/cli.py
  fiftyone/core/models.py
  fiftyone/core/sample.py
  fiftyone/utils/clip/zoo.py
  fiftyone/utils/torch.py
  fiftyone/zoo/models/__init__.py
  fiftyone/zoo/models/torch.py
  setup.py
Labels: enhancement

#2951 Adding DINOv2 backbones to the model zoo
  docs/scripts/make_model_zoo_docs.py
  fiftyone/zoo/models/manifest-torch.json
Labels: model zoo

#3380 Add back missing grid filters
  app/packages/relay/src/queries/__generated__/paginateSamplesQuery.graphql.ts
  app/packages/relay/src/queries/paginateSamples.ts
  app/schema.graphql
  fiftyone/server/query.py
Labels: bug, app

#3378 Looker3D sparse slices handling
  app/packages/core/src/components/Modal/Group/GroupSample3d.tsx
Labels: bug

#3377 bugfix/Filter+Visibility in sidebar
  app/packages/state/src/recoil/pathFilters/index.ts
  app/packages/state/src/recoil/pathFilters/string.ts
Labels: bug

#3375 Handle flashlight page errors
  .github/workflows/e2e.yml
  app/packages/components/src/components/ErrorBoundary/ErrorBoundary.tsx
  app/packages/core/src/useFlashlightPager.ts
  e2e-pw/src/oss/fixtures/loader.ts
  e2e-pw/src/oss/poms/panel.ts
  e2e-pw/src/oss/specs/groups/empty-groups.spec.ts
  e2e-pw/src/shared/abstract-loader.ts
Labels: cleaning, app

#3376 Fix optmized sample pagination
  app/packages/relay/src/queries/__generated__/paginateSamplesQuery.graphql.ts
  app/packages/relay/src/queries/paginateSamples.ts
  app/packages/state/src/recoil/groups.ts
  app/schema.graphql
  fiftyone/server/query.py
Labels: bug, app

#3381 [Doc] Qdrant gRPC connection
  docs/source/integrations/qdrant.rst
Labels: documentation

#3384 PCD tagging and group modal resets
  app/packages/core/src/components/Actions/Tagger.tsx
  app/packages/core/src/components/Actions/utils.tsx
  app/packages/core/src/components/Filters/categoricalFilter/CategoricalFilter.tsx
  app/packages/core/src/components/Modal/Looker.tsx
  app/packages/state/src/hooks/useExpandSample.ts
  app/packages/state/src/hooks/useSetExpandedSample.ts
  fiftyone/server/routes/tag.py
  fiftyone/server/routes/tagging.py
  fiftyone/server/routes/values.py
Labels: bug, app

#3382 Update pytube requirement to fix zoo YouTube download error
  fiftyone/utils/activitynet.py
  fiftyone/utils/kinetics.py
  fiftyone/utils/youtube.py
Labels: bug, dataset zoo

#3386 bugfix: sample tag and label tag visibility and filter issue
  app/packages/looker/src/elements/common/tags.ts
  app/packages/state/src/recoil/pathFilters/index.ts
  app/packages/state/src/recoil/pathFilters/string.ts
Labels: bug

#3391 Reset empty grid state
  app/packages/core/src/components/Grid/Grid.tsx
  app/packages/core/src/components/Modal/Group/GroupCarousel.tsx
  app/packages/core/src/useFlashlightPager.ts
  app/packages/looker-3d/src/Looker3d.tsx
Labels: bug, app

#3388 Fix dynamic groups modal of a view
  app/packages/state/src/recoil/view.ts
Labels: bug, app

#3403 Release/v0.21.6
  app/packages/embeddings/src/EmbeddingsPlot.tsx
  app/packages/embeddings/src/styled-components.tsx
  docs/source/release-notes.rst
  docs/source/user_guide/evaluation.rst
  fiftyone/core/view.py
  package/desktop/setup.py
  setup.py
  tests/unittests/view_tests.py
Labels: release

#3414 v0.21.6 into `develop`
  app/packages/embeddings/src/EmbeddingsPlot.tsx
  app/packages/embeddings/src/styled-components.tsx
  docs/source/release-notes.rst
  docs/source/user_guide/evaluation.rst
  fiftyone/core/view.py
  package/desktop/setup.py
  setup.py
  tests/unittests/view_tests.py
Labels: release

#3409 Use frame size when constructing rotated boxes
  .github/workflows/build-docs.yml
  docs/source/user_guide/using_datasets.rst
  fiftyone/core/labels.py
Labels: bug

#3429 Fix OpenLABEL importer when given incomplete keypoint skeletons
  fiftyone/utils/openlabel.py
  tests/unittests/import_export_tests.py
  tests/unittests/utils/openlabel.py
Labels: bug

#3416 Page offset bug
  app/packages/core/src/components/Grid/recoil.ts
  app/packages/core/src/components/Modal/Group/DynamicGroup/carousel/DynamicGroupsFlashlightWrapper.tsx
  app/packages/core/src/components/Modal/Group/GroupCarousel.tsx
  e2e-pw/src/oss/poms/modal/index.ts
  e2e-pw/src/oss/specs/groups/large-groups.spec.ts
  e2e-pw/src/oss/specs/groups/sparse-groups-scenes.spec.ts
  e2e-pw/src/oss/specs/groups/sparse-groups.spec.ts
  e2e-pw/src/oss/specs/regression-tests/grid-page.spec.ts
Labels: bug, app

#3435 Omit `close_app` in `launch_app`
  fiftyone/core/session/session.py
Labels: enhancement

#3440 Delegated operators CLI fix
  fiftyone/core/cli.py
Labels: bug

#3442 Delegated operators linting
  fiftyone/core/cli.py
  fiftyone/factory/__init__.py
  fiftyone/factory/repo_factory.py
  fiftyone/factory/repos/__init__.py
  fiftyone/factory/repos/delegated_operation.py
  fiftyone/factory/repos/delegated_operation_doc.py
  fiftyone/operators/delegated.py
  fiftyone/operators/executor.py
  tests/unittests/delegated_operators_tests.py
Labels: cleaning

#3406 Adding a fiftyone.core.storage module
  docs/source/recipes/image_deduplication_helpers.py
  fiftyone/core/collections.py
  fiftyone/core/dataset.py
  fiftyone/core/labels.py
  fiftyone/core/models.py
  fiftyone/core/odm/sample.py
  fiftyone/core/sample.py
  fiftyone/core/storage.py
  fiftyone/core/utils.py
  fiftyone/core/video.py
  fiftyone/core/view.py
  fiftyone/utils/annotations.py
  fiftyone/utils/bdd.py
  fiftyone/utils/coco.py
  fiftyone/utils/csv.py
  fiftyone/utils/cvat.py
  fiftyone/utils/data/exporters.py
  fiftyone/utils/data/importers.py
  fiftyone/utils/data/ingestors.py
  fiftyone/utils/data/parsers.py
  fiftyone/utils/flash.py
  fiftyone/utils/geojson.py
  fiftyone/utils/image.py
  fiftyone/utils/kitti.py
  fiftyone/utils/labels.py
  fiftyone/utils/openimages.py
  fiftyone/utils/openlabel.py
  fiftyone/utils/patches.py
  fiftyone/utils/scale.py
  fiftyone/utils/torch.py
  fiftyone/utils/utils3d.py
  fiftyone/utils/video.py
  fiftyone/utils/voc.py
  fiftyone/utils/yolo.py
  tests/intensive/import_export_tests.py
  tests/intensive/utils_tests.py
  tests/unittests/import_export_tests.py
Labels: feature

#3451 Ultralytics integration 🚀
  docs/scripts/make_model_zoo_docs.py
  docs/source/_static/images/integrations/ultralytics.jpg
  docs/source/images/integrations/ultralytics_boxes.jpg
  docs/source/images/integrations/ultralytics_instances.jpg
  docs/source/images/integrations/ultralytics_keypoints.jpg
  docs/source/index.rst
  docs/source/integrations/index.rst
  docs/source/integrations/pytorch_hub.rst
  docs/source/integrations/ultralytics.rst
  docs/source/release-notes.rst
  fiftyone/utils/ultralytics.py
  fiftyone/zoo/models/manifest-torch.json
Labels: feature

#3436 Unique ID for full sample JSON in modal
  app/packages/core/src/components/Actions/Tagger.tsx
  app/packages/core/src/components/Modal/Group/GroupImageVideoSample.tsx
  app/packages/core/src/components/Modal/Group/GroupSample3d.tsx
  app/packages/core/src/components/Modal/Sample.tsx
  app/packages/core/src/useFlashlightPager.ts
  app/packages/looker/src/state.ts
  app/packages/state/src/hooks/useUpdateSamples.ts
  fiftyone/server/routes/media.py
  fiftyone/server/samples.py
  tests/unittests/server_tests.py
Labels: bug, app

#3439 Revert follow symlinks in `static`
  fiftyone/server/app.py
Labels: bug, server
