Repository voxel51/fiftyone, pull requests merged in 2024-04, with the labels that each got.

#4217 [CHORE] App package updates
  app/packages/app/package.json
  app/packages/components/package.json
  app/packages/components/stories/Button.stories.tsx
  app/packages/components/stories/assets/logo.png
  app/packages/components/stories/intro.stories.mdx
  app/packages/core/package.json
  app/packages/desktop/package.json
  app/packages/embeddings/package.json
  app/packages/state/package.json
  app/yarn.lock
Labels: cleaning, standard

#4182 Group modal sidebar label field aggregations
  app/packages/core/src/components/Sidebar/Entries/FilterablePathEntry/Arrow.tsx
  app/packages/core/src/components/Sidebar/Entries/FilterablePathEntry/Icon.tsx
  app/packages/state/src/recoil/aggregations.test.ts
  app/packages/state/src/recoil/aggregations.ts
  app/packages/state/src/recoil/labels.ts
  app/packages/state/src/recoil/schema.ts
  app/packages/state/tsconfig.json
Labels: enhancement, app

#4201 Fix App `Keypoint` filters
  app/__mocks__/recoil.ts
  app/packages/core/src/components/Filters/StringFilter/Checkboxes.tsx
  app/packages/state/src/recoil/pathData/counts.test.ts
  app/packages/state/src/recoil/pathData/counts.ts
  app/packages/state/src/recoil/schema.ts
Labels: bug, app

#4215 Fix empty label list handling
  app/packages/looker/src/overlays/index.test.ts
  app/packages/looker/src/overlays/index.ts
  app/packages/looker/src/worker/deserializer.test.ts
  app/packages/looker/src/worker/deserializer.ts
  app/packages/looker/src/worker/painter.test.ts
  app/packages/looker/src/worker/painter.ts
Labels: bug, app

#4097 Fix pinning sidebar filters for group datasets
  fiftyone/core/stages.py
  fiftyone/server/aggregations.py
  fiftyone/server/mutation.py
  fiftyone/server/view.py
  tests/unittests/view_tests.py
Labels: bug, app

#4260 Support Labelbox v2 export APIs and formats
  docs/source/integrations/labelbox.rst
  fiftyone/utils/labelbox.py
  tests/intensive/labelbox_tests.py
Labels: enhancement, annotation

#4289 Fix set state in server
  fiftyone/core/state.py
  fiftyone/server/events/dispatch.py
  fiftyone/server/events/state.py
  tests/unittests/server_events_tests.py
Labels: bug, server

#4303 Cleanup unused routes
  fiftyone/server/routes/__init__.py
  fiftyone/server/routes/select.py
  fiftyone/server/routes/stages.py
Labels: cleaning, server

#4282 Validate 'tags' argument of match_tags()
  fiftyone/core/stages.py
Labels: enhancement
