Repository voxel51/fiftyone, pull requests merged in 2024-07, with the labels that each got.

#4535 expose camera position via recoil atom
  app/packages/looker-3d/src/fo3d/MediaTypeFo3d.tsx
  app/packages/looker-3d/src/state.ts
Labels: app

#4546 3D assets loading status bar
  app/packages/looker-3d/package.json
  app/packages/looker-3d/src/ErrorBoundary.tsx
  app/packages/looker-3d/src/Logs.tsx
  app/packages/looker-3d/src/Looker3d.tsx
  app/packages/looker-3d/src/SpinningCube.tsx
  app/packages/looker-3d/src/StatusBar.tsx
  app/packages/looker-3d/src/action-bar/index.tsx
  app/packages/looker-3d/src/containers.ts
  app/packages/looker-3d/src/fo3d/Background.tsx
  app/packages/looker-3d/src/fo3d/FoScene.tsx
  app/packages/looker-3d/src/fo3d/MediaTypeFo3d.tsx
  app/packages/looker-3d/src/hooks/index.ts
  app/packages/looker-3d/src/hooks/use-track-status.ts
  app/packages/looker-3d/src/state.ts
  app/packages/looker-3d/src/types.ts
  app/yarn.lock
Labels: app

#4510 Fix dynamic groups modal shortcuts + dynamic groups refactoring to use schema
  app/packages/core/src/components/Modal/Sample.tsx
  app/packages/state/src/hooks/useCreateLooker.ts
  app/packages/state/src/hooks/useExpandSample.ts
  app/packages/state/src/hooks/useHoveredSample.ts
  app/packages/state/src/recoil/dynamicGroups.ts
  app/packages/state/src/recoil/utils.ts
  app/packages/utilities/src/schema.test.ts
  app/packages/utilities/src/schema.ts
Labels: app

#4556 Add docs script
  docs/source/_templates/layout.html
Labels: documentation

#4541 More robust handling of multiple config docs
  fiftyone/core/odm/database.py
  fiftyone/migrations/runner.py
  tests/unittests/utils_tests.py
Labels: bug

#4579 Windows fo3d bug fix for finding asset files
  app/packages/looker-3d/src/Logs.tsx
  app/packages/looker-3d/src/fo3d/tests/get-fo3d-root.test.ts
  app/packages/looker-3d/src/fo3d/utils.ts
Labels: bug, app

#4583 remove unused patch-package package
  app/package.json
  app/yarn.lock
Labels: app

#4559 Analytics Consent
  .github/workflows/pr.yml
  app/packages/app/package.json
  app/packages/app/src/components/Analytics.tsx
  app/packages/app/src/components/AnalyticsConsent.tsx
  app/packages/app/src/components/Nav.tsx
  app/packages/app/src/components/__generated__/Analytics.graphql.ts
  app/packages/app/src/components/__generated__/NavFragment.graphql.ts
  app/packages/app/src/pages/IndexPage.tsx
  app/packages/app/src/pages/__generated__/IndexPageQuery.graphql.ts
  app/packages/app/src/pages/datasets/DatasetPage.tsx
  app/packages/app/src/pages/datasets/__generated__/DatasetPageQuery.graphql.ts
  app/packages/app/tsconfig.json
  app/packages/components/src/components/index.ts
  app/packages/flashlight/tsconfig.json
  app/packages/looker/tsconfig.json
  app/tsconfig.json
  app/yarn.lock
  requirements/common.txt
Labels: app

#4588 Fix docs script tag
  docs/source/_templates/layout.html
Labels: documentation

#4590 Add ability to dynamically alter 3D labels line width
  app/packages/looker-3d/index.d.ts
  app/packages/looker-3d/src/constants.ts
  app/packages/looker-3d/src/labels/cuboid.tsx
  app/packages/looker-3d/src/labels/index.tsx
  app/packages/looker-3d/src/labels/line.tsx
  app/packages/looker-3d/src/state.ts
  e2e-pw/src/oss/poms/modal/index.ts
  e2e-pw/src/oss/poms/modal/leva.ts
  e2e-pw/src/oss/specs/3d/fo3d-pcd-stl.spec.ts
  e2e-pw/src/oss/specs/3d/fo3d-pcd-stl.spec.ts-snapshots/max-line-width-scene-chromium-darwin.png
  e2e-pw/src/oss/specs/3d/fo3d-pcd-stl.spec.ts-snapshots/max-line-width-scene-chromium-linux.png
  e2e-pw/src/oss/specs/3d/fo3d-pcd-stl.spec.ts-snapshots/min-line-width-scene-chromium-darwin.png
  e2e-pw/src/oss/specs/3d/fo3d-pcd-stl.spec.ts-snapshots/min-line-width-scene-chromium-linux.png
  e2e-pw/src/oss/specs/3d/fo3d-pcd-stl.spec.ts-snapshots/scene-chromium-darwin.png
  e2e-pw/src/oss/specs/3d/fo3d-pcd-stl.spec.ts-snapshots/scene-chromium-linux.png
Labels: app
