Repository voxel51/fiftyone, pull requests merged in 2024-10, with the labels that each got.

#4883 Bumping compatibility version
  fiftyone/constants.py
Labels: bug

#4888 Remove deprecated fiftyone-desktop refs
  fiftyone/constants.py
  fiftyone/core/session/session.py
  fiftyone/utils/quickstart.py
Labels: bug

#4891 Fix #4890
  app/packages/looker/src/elements/common/bubbles.test.ts
  app/packages/looker/src/elements/common/bubbles.ts
Labels: bug, app

#4884 Fix COCO category IDs
  docs/source/integrations/coco.rst
  docs/source/user_guide/dataset_creation/datasets.rst
  docs/source/user_guide/export_datasets.rst
  fiftyone/utils/coco.py
  tests/unittests/import_export_tests.py
Labels: bug

#4875 Query performance operators
  app/packages/operators/src/built-in-operators.ts
  app/packages/operators/src/operators.ts
  app/packages/operators/src/state.ts
  app/packages/state/src/hooks/index.ts
  app/packages/state/src/hooks/useQueryPerformance.ts
  fiftyone/operators/executor.py
Labels: app

#4905 Fix updateSample in useLooker
  app/packages/core/src/components/Modal/use-looker.ts
Labels: bug, app

#4898 Release notes v1.0.1
  docs/source/release-notes.rst
  docs/source/user_guide/app.rst
Labels: documentation

#4916 Fix video tooltip
  app/packages/core/src/components/ColorModal/ColorFooter.tsx
  app/packages/core/src/components/Modal/ModalLooker.tsx
  app/packages/core/src/components/Modal/use-looker.ts
  app/packages/looker/src/lookers/video.ts
  app/packages/looker/src/state.ts
Labels: bug, app

#4925 fix shortcuts crashing + add next/previous shortcuts in help modal
  app/packages/core/src/components/Modal/utils.test.ts
  app/packages/core/src/components/Modal/utils.ts
  app/packages/looker/src/elements/common/actions.ts
  app/packages/looker/src/lookers/image.ts
  app/packages/looker/src/state.ts
  app/packages/state/src/hooks/useCreateLooker.ts
Labels: bug, app

#4930 Adds disabled state for all button view variants
  app/packages/core/src/plugins/SchemaIO/components/ButtonView.tsx
  app/packages/core/src/plugins/SchemaIO/utils/style.ts
  fiftyone/operators/types.py
Labels: app

#4932 Clarifying model vs source metadata for remote zoo models
  docs/source/model_zoo/remote.rst
Labels: documentation

#4895 Merging #4758 into develop
  fiftyone/utils/eval/coco.py
  fiftyone/utils/eval/openimages.py
  fiftyone/utils/iou.py
  fiftyone/utils/utils3d.py
  setup.py
  tests/unittests/evaluation_tests.py
  tests/unittests/utils3d_tests.py
Labels: enhancement

#4922 Track Python Panel closes
  app/packages/operators/src/CustomPanel.tsx
Labels: enhancement, app

#4938 fix carousel lookers rendering as imavid in ordered dynamic groups
  app/packages/core/src/components/Modal/Group/DynamicGroup/carousel/DynamicGroupsFlashlightWrapper.tsx
  app/packages/core/src/components/Modal/Group/GroupCarousel.tsx
Labels: bug, app

#4950 Add ModalView w/ Tagging capability
  app/packages/components/src/components/ModalBase/DisplayTags.tsx
  app/packages/components/src/components/ModalBase/ModalBase.tsx
  app/packages/components/src/components/ModalBase/index.ts
  app/packages/components/src/components/MuiIconFont/index.tsx
  app/packages/core/src/plugins/SchemaIO/components/ModalView.tsx
  app/packages/core/src/plugins/SchemaIO/components/PillBadgeView.tsx
  app/packages/core/src/plugins/SchemaIO/components/index.ts
  app/packages/operators/src/types.ts
  fiftyone/operators/types.py
Labels: enhancement, app

#4931 3d zoom to crop / look at
  app/packages/looker-3d/package.json
  app/packages/looker-3d/src/Looker3d.tsx
  app/packages/looker-3d/src/MediaTypePcd.tsx
  app/packages/looker-3d/src/action-bar/ViewFo3d.tsx
  app/packages/looker-3d/src/action-bar/ViewHelp.tsx
  app/packages/looker-3d/src/action-bar/index.tsx
  app/packages/looker-3d/src/fo3d/MediaTypeFo3d.tsx
  app/packages/looker-3d/src/hooks/use-bounds.test.ts
  app/packages/looker-3d/src/hooks/use-bounds.ts
  app/packages/looker-3d/src/hooks/use-hot-key.ts
  app/yarn.lock
Labels: feature, app

#4927 Update plugin components
  app/packages/components/src/components/Loading/LoadingSpinner.tsx
  app/packages/components/src/components/ModalBase/DisplayTags.tsx
  app/packages/components/src/components/ModalBase/ModalBase.tsx
  app/packages/components/src/components/ModalBase/index.ts
  app/packages/components/src/components/MuiIconFont/index.tsx
  app/packages/components/src/components/PillBadge/PillBadge.tsx
  app/packages/components/src/components/PillBadge/index.ts
  app/packages/core/src/plugins/SchemaIO/components/ButtonView.tsx
  app/packages/core/src/plugins/SchemaIO/components/DropdownView.tsx
  app/packages/core/src/plugins/SchemaIO/components/GridView.tsx
  app/packages/core/src/plugins/SchemaIO/components/Header.tsx
  app/packages/core/src/plugins/SchemaIO/components/LoadingView.tsx
  app/packages/core/src/plugins/SchemaIO/components/ModalView.tsx
  app/packages/core/src/plugins/SchemaIO/components/PillBadgeView.tsx
  app/packages/core/src/plugins/SchemaIO/components/SliderView.tsx
  app/packages/core/src/plugins/SchemaIO/components/TextView.tsx
  app/packages/core/src/plugins/SchemaIO/components/index.ts
  app/packages/core/src/plugins/SchemaIO/utils/style.ts
  app/packages/operators/src/types.ts
  fiftyone/operators/types.py
Labels: feature, plugins

#4975 fix bug where timeline name wasn't being forwarded in seek utils
  app/packages/playback/eslint.config.mjs
  app/packages/playback/package.json
  app/packages/playback/src/views/Timeline.tsx
  app/yarn.lock
Labels: bug, app

#4984 fix externalize bug
  app/packages/looker-3d/package.json
  app/packages/looker-3d/src/index.ts
  app/packages/plugins/src/externalize.ts
  app/yarn.lock
Labels: bug

#4983 Fix model zoo docs build
  docs/.gitignore
  docs/scripts/make_model_zoo_docs.py
  fiftyone/zoo/models/manifest-torch.json
Labels: bug, documentation

#4996 Make ImageView clickable/linkable in Python Panels
  app/packages/core/src/plugins/SchemaIO/components/ImageView.tsx
  fiftyone/operators/types.py
Labels: enhancement

#5009 debounce modal navigation
  .github/workflows/pr.yml
  app/packages/app/src/components/AnalyticsConsent.tsx
  app/packages/core/src/components/Modal/ModalNavigation.tsx
  app/packages/core/src/components/Modal/debouncedNavigator.test.ts
  app/packages/core/src/components/Modal/debouncedNavigator.ts
  app/packages/core/src/components/Modal/hooks.ts
  app/packages/state/src/hooks/useExpandSample.ts
  app/packages/state/src/recoil/modal.ts
  e2e-pw/src/oss/constants/index.ts
  e2e-pw/src/oss/fixtures/loader.ts
  e2e-pw/src/oss/poms/selector.ts
  e2e-pw/src/oss/specs/plugins/histograms.spec.ts
  e2e-pw/src/oss/specs/regression-tests/media-field.spec.ts
Labels: app

#5019 perf improvement: remove handler from onlookersetsubscribers as tooltip changes
  app/packages/core/src/components/Modal/ModalSamplePlugin.tsx
Labels: app
