Repository voxel51/fiftyone, pull requests merged in 2024-11, with the labels that each got.

#5022 App performance enhancements
  app/packages/app/src/routing/RouterContext.ts
  app/packages/app/src/routing/matchPath.ts
  app/packages/app/src/useEvents/useSetSpaces.ts
  app/packages/app/src/useWriters/onSetSessionSpaces.ts
  app/packages/core/src/components/Actions/ActionsRow.tsx
  app/packages/core/src/components/Actions/Options.tsx
  app/packages/core/src/components/Grid/Grid.tsx
  app/packages/core/src/components/Grid/recoil.ts
  app/packages/core/src/components/Grid/useFontSize.ts
  app/packages/core/src/components/Grid/useRefreshers.ts
  app/packages/core/src/components/Grid/useSelect.ts
  app/packages/core/src/components/Grid/useThreshold.ts
  app/packages/core/src/components/Modal/ModalNavigation.tsx
  app/packages/core/src/components/Modal/utils.test.ts
  app/packages/core/src/components/Modal/utils.ts
  app/packages/looker/src/constants.ts
  app/packages/looker/src/elements/base.ts
  app/packages/looker/src/elements/common/actions.ts
  app/packages/looker/src/elements/common/index.ts
  app/packages/looker/src/elements/common/options.ts
  app/packages/looker/src/elements/image.ts
  app/packages/looker/src/elements/index.ts
  app/packages/looker/src/elements/util.ts
  app/packages/looker/src/elements/video.ts
  app/packages/looker/src/lookers/abstract.ts
  app/packages/looker/src/lookers/frame-reader.ts
  app/packages/looker/src/lookers/image.ts
  app/packages/looker/src/lookers/imavid/controller.ts
  app/packages/looker/src/lookers/imavid/ima-vid-frame-samples.ts
  app/packages/looker/src/lookers/imavid/index.ts
  app/packages/looker/src/lookers/shared.ts
  app/packages/looker/src/lookers/three-d.ts
  app/packages/looker/src/lookers/video.ts
  app/packages/looker/src/overlays/base.ts
  app/packages/looker/src/overlays/classifications.ts
  app/packages/looker/src/overlays/heatmap.ts
  app/packages/looker/src/overlays/segmentation.ts
  app/packages/looker/src/overlays/util.ts
  app/packages/looker/src/state.ts
  app/packages/looker/src/util.ts
  app/packages/looker/src/worker/deserializer.ts
  app/packages/looker/src/worker/index.ts
  app/packages/spotlight/src/constants.ts
  app/packages/spotlight/src/index.ts
  app/packages/spotlight/src/iter.ts
  app/packages/spotlight/src/row.ts
  app/packages/spotlight/src/section.ts
  app/packages/spotlight/src/types.ts
  app/packages/state/src/hooks/index.ts
  app/packages/state/src/hooks/useClearModal.ts
  app/packages/state/src/hooks/useCreateLooker.ts
  app/packages/state/src/hooks/useExpandSample.ts
  app/packages/state/src/hooks/useSetModalState.ts
  app/packages/state/src/recoil/modal.ts
  docs/source/user_guide/config.rst
  e2e-pw/src/oss/specs/grid-tagging.spec.ts-snapshots/grid-tagged-chromium-darwin.png
  e2e-pw/src/oss/specs/grid-tagging.spec.ts-snapshots/grid-tagged-chromium-linux.png
  e2e-pw/src/oss/specs/grid-tagging.spec.ts-snapshots/grid-untagged-chromium-darwin.png
  e2e-pw/src/oss/specs/grid-tagging.spec.ts-snapshots/grid-untagged-chromium-linux.png
  e2e-pw/src/oss/specs/sidebar/sidebar-cifar.spec.ts-snapshots/hide-ship-invisible-cat-chromium-linux.png
Labels: enhancement, app

#5033 Updating Pinecone docs
  docs/source/integrations/pinecone.rst
Labels: documentation

#5029 Adding min() and max() aggregations
  docs/source/user_guide/using_aggregations.rst
  fiftyone/__public__.py
  fiftyone/core/aggregations.py
  fiftyone/core/collections.py
  fiftyone/core/dataset.py
  tests/unittests/aggregation_tests.py
  tests/unittests/dataset_tests.py
Labels: feature

#5046 Ctrl click disable focus in grid
  app/packages/looker/src/lookers/frame-reader.ts
  app/packages/spotlight/src/row.ts
Labels: enhancement, app

#5047 Bugfix/match arrays lightning query
  fiftyone/server/lightning.py
Labels: server

#5049 plugin component: nested group selections
  app/packages/core/src/plugins/SchemaIO/components/TreeSelectionView.tsx
  app/packages/core/src/plugins/SchemaIO/components/index.ts
  app/packages/core/src/plugins/SchemaIO/utils/index.ts
  app/packages/operators/src/types.ts
  fiftyone/operators/types.py
Labels: app, plugins

#5077 Bugfix: TreeSelectionView component handles grid selection sync
  app/packages/core/src/plugins/SchemaIO/components/TreeSelectionView.tsx
Labels: plugins

#5072 Use sidebar style button for numeric filter by
  app/packages/core/src/components/Filters/NumericFieldFilter/NumericFieldFilter.tsx
  app/packages/core/src/components/Filters/NumericFieldFilter/RangeSlider.tsx
Labels: enhancement, app

#5085 Adding copyright block to model eval panel
  fiftyone/operators/builtins/panels/model_evaluation/__init__.py
Labels: cleaning

#5093 Add FrameNumberField support for lightning queries
  fiftyone/server/lightning.py
  tests/unittests/lightning_tests.py
Labels: app, server

#5092 Update docs footer
  docs/source/_templates/layout.html
  docs/source/conf.py
Labels: documentation

#5089 performance: use offscreen canvas to decode on-disk masks
  app/package.json
  app/packages/looker/package.json
  app/packages/looker/src/numpy.ts
  app/packages/looker/src/worker/canvas-decoder.ts
  app/packages/looker/src/worker/index.ts
  app/yarn.lock
Labels: app

#5098 QP sidebar enhancements
  app/packages/core/src/components/FieldLabelAndInfo/index.tsx
  app/packages/core/src/components/Filters/NumericFieldFilter/Box.tsx
  app/packages/core/src/components/Filters/NumericFieldFilter/Nonfinites.tsx
  app/packages/core/src/components/Filters/NumericFieldFilter/NumericFieldFilter.tsx
  app/packages/core/src/components/Filters/NumericFieldFilter/RangeSlider.tsx
  app/packages/core/src/components/Filters/NumericFieldFilter/state.ts
  app/packages/core/src/components/Filters/NumericFieldFilter/use-show.ts
  app/packages/core/src/components/Filters/StringFilter/Checkboxes.tsx
  app/packages/core/src/components/Filters/StringFilter/StringFilter.tsx
  app/packages/core/src/components/Filters/StringFilter/useSelected.ts
  app/packages/core/src/components/ResourceCount.tsx
  app/packages/core/src/components/Sidebar/Entries/FilterablePathEntry/Icon.tsx
  app/packages/core/src/components/Sidebar/Entries/FilterablePathEntry/useTitleTemplate.tsx
  app/packages/core/src/components/Sidebar/Entries/QueryPerformanceIcon.tsx
  app/packages/looker/src/elements/common/bubbles.ts
  app/packages/relay/src/queries/__generated__/lightningQuery.graphql.ts
  app/packages/relay/src/queries/lightning.ts
  app/packages/state/src/recoil/pathData/boolean.ts
  app/packages/state/src/recoil/pathData/lightningBoolean.ts
  app/packages/state/src/recoil/pathData/lightningNumeric.ts
  app/packages/state/src/recoil/pathFilters/index.ts
  app/packages/state/src/recoil/schema.ts
  app/packages/state/src/recoil/selectors.ts
  app/schema.graphql
  e2e-pw/src/oss/poms/sidebar.ts
  fiftyone/server/lightning.py
  fiftyone/server/view.py
  tests/unittests/lightning_tests.py
Labels: bug, app

#5122 Fix target view for clear sample/frame field operators
  fiftyone/operators/builtin.py
Labels: bug

#5125 Fix lightning numeric bounds
  fiftyone/server/lightning.py
  tests/unittests/lightning_tests.py
Labels: app, server

#5121 Coinciding filter results for QP sidebar
  app/packages/core/src/components/Filters/StringFilter/state.ts
  app/packages/core/src/components/Filters/StringFilter/useSelected.ts
  app/packages/relay/src/queries/__generated__/lightningQuery.graphql.ts
  app/packages/state/src/recoil/filters.ts
  app/packages/state/src/recoil/pathData/lightningString.ts
  app/packages/state/src/recoil/types.ts
  app/schema.graphql
  fiftyone/server/lightning.py
Labels: enhancement, app

#5162 Initial query performance sidebar e2e
  app/packages/core/src/components/Filters/NumericFieldFilter/NumericFieldFilter.tsx
  app/packages/core/src/components/Filters/StringFilter/StringFilter.tsx
  app/packages/core/src/components/Sidebar/Entries/FilterablePathEntry/Icon.tsx
  e2e-pw/src/oss/poms/action-row/display-options.ts
  e2e-pw/src/oss/poms/sidebar.ts
  e2e-pw/src/oss/specs/sidebar/query-performance.spec.ts
Labels: testing, app

#5167 [Docs] Query performance sidebar
  app/packages/core/src/components/FieldLabelAndInfo/index.tsx
  docs/source/images/app/app-field-tooltips.gif
  docs/source/images/app/app-fields.gif
  docs/source/images/app/app-filters.gif
  docs/source/images/app/app-granular.gif
  docs/source/images/app/app-query-performance-mode.gif
  docs/source/images/app/app-sidebar-mode.gif
  docs/source/release-notes.rst
  docs/source/user_guide/app.rst
  docs/source/user_guide/config.rst
  docs/source/user_guide/using_datasets.rst
Labels: documentation

#5174 Create compound group indexes by default
  fiftyone/operators/builtin.py
Labels: enhancement

#5177 QP sidebar filters to active slice for group datasets
  app/packages/relay/src/queries/__generated__/lightningQuery.graphql.ts
  app/packages/state/src/recoil/queryPerformance.ts
  app/schema.graphql
  docs/source/user_guide/app.rst
  fiftyone/server/lightning.py
  tests/unittests/lightning_tests.py
Labels: enhancement, app

#5149 Retain browser setting for modal dynamic groups
  app/packages/state/src/hooks/useSetModalState.ts
  app/packages/state/src/recoil/options.ts
Labels: bug, app

#5176 Allow legacy orchestration
  app/packages/operators/src/SplitButton.tsx
  app/packages/operators/src/state.ts
  docs/source/images/plugins/operators/operator-user-delegation.png
  docs/source/plugins/developing_plugins.rst
  docs/source/plugins/using_plugins.rst
  docs/source/user_guide/config.rst
  fiftyone/core/config.py
  fiftyone/operators/executor.py
Labels: enhancement

#5156 improve overlay rendering performance
  app/packages/looker/src/elements/common/error.ts
  app/packages/looker/src/elements/image.ts
  app/packages/looker/src/worker/decorated-fetch.test.ts
  app/packages/looker/src/worker/decorated-fetch.ts
  app/packages/looker/src/worker/index.ts
  app/packages/utilities/src/fetch.ts
Labels: app

#5181 Don't require pipeline updates when setting output schema
  fiftyone/factory/repos/delegated_operation.py
  tests/unittests/operators/delegated_tests.py
Labels: bug

#5183 Fix deleted datasets on App server
  fiftyone/core/singletons.py
  fiftyone/server/query.py
Labels: bug, server
