Repository voxel51/fiftyone, pull requests merged in 2024-02, with the labels that each got.

#4064 Fix sidebar groups configuration
  app/packages/core/src/components/Sidebar/Sidebar.tsx
  app/packages/state/src/recoil/sidebar.test.ts
  app/packages/state/src/recoil/sidebar.ts
  app/packages/utilities/src/styles.ts
Labels: bug, app

#4066 check if view is group before assigning slice
  fiftyone/server/routes/frames.py
Labels: bug

#4017 Media field e2e snapshot tests
  app/packages/looker/src/elements/common/controls.ts
  app/packages/looker/src/elements/common/options.ts
  e2e-pw/src/oss/poms/modal/video-controls.ts
  e2e-pw/src/oss/specs/regression-tests/media-field.spec.ts
  e2e-pw/src/oss/specs/regression-tests/media-field.spec.ts-snapshots/grid-media-field-chromium-darwin.png
  e2e-pw/src/oss/specs/regression-tests/media-field.spec.ts-snapshots/grid-media-field-chromium-linux.png
  e2e-pw/src/oss/specs/regression-tests/media-field.spec.ts-snapshots/modal-media-field-chromium-darwin.png
  e2e-pw/src/oss/specs/regression-tests/media-field.spec.ts-snapshots/modal-media-field-chromium-linux.png
Labels: testing, app

#4044 Fix multi PCD groups in the modal
  app/packages/core/src/components/Sidebar/Entries/PathValueEntry.tsx
  app/packages/looker-3d/src/action-bar/SliceSelector.tsx
  app/packages/state/src/recoil/groups.ts
  e2e-pw/src/oss/poms/modal/index.ts
  e2e-pw/src/oss/specs/groups/modal-multi-pcd.spec.ts
Labels: bug, app

#3973 Include coinciding filters in sidebar search results
  app/packages/core/src/components/Common/Checkbox.tsx
  app/packages/core/src/components/Filters/StringFilter/Checkboxes.tsx
  app/packages/core/src/components/Filters/StringFilter/StringFilter.tsx
  app/packages/core/src/components/Filters/StringFilter/state.ts
  app/packages/core/src/components/Filters/StringFilter/useOnSelect.ts
Labels: enhancement, app

#4073 Fix video, and video slice support for Labelbox
  fiftyone/utils/labelbox.py
Labels: bug, annotation

#4092 Fixing ColorScheme serialization
  fiftyone/core/odm/dataset.py
  tests/unittests/odm_tests.py
Labels: bug

#4100 Update Label Studio documentation for local storage feature
  docs/source/integrations/labelstudio.rst
Labels: documentation, annotation

#4098 Fix slice change when filters are present
  app/packages/core/src/components/Filters/StringFilter/state.ts
Labels: bug, app
