Repository voxel51/fiftyone, pull requests merged in 2025-01, with the labels that each got.

#5319 Use CVAT brush tool (aka mask shape) when annotating instance segmentation masks
  fiftyone/utils/cvat.py
Labels: feature

#5337 clean overlays in detach function and not during reconciliation
  app/packages/looker/src/lookers/abstract.ts
  app/packages/looker/src/overlays/heatmap.ts
  app/packages/looker/src/overlays/segmentation.ts
  app/packages/looker/src/processOverlays.ts
  app/packages/looker/src/worker/canvas-decoder.ts
  app/packages/spotlight/src/createScrollReader.ts
Labels: app

#5322 Fix Looker Classifications handing
  app/packages/looker/src/lookers/abstract.ts
  app/packages/looker/src/lookers/utils.test.ts
  app/packages/looker/src/lookers/utils.ts
  app/packages/looker/tsconfig.json
  app/packages/state/src/utils.test.ts
  app/packages/state/src/utils.ts
Labels: bug, app

#5343 Remove usage of deprecated matplotlib InsetPosition
  fiftyone/core/plots/matplotlib.py
Labels: bug

#5342 Handle shadowed plugins
  docs/source/cli/index.rst
  fiftyone/core/cli.py
  fiftyone/plugins/core.py
  fiftyone/plugins/definitions.py
  tests/unittests/plugins/core_tests.py
Labels: enhancement

#5344 Fix confidence handling for keypoint evaluation
  fiftyone/utils/eval/coco.py
  fiftyone/utils/eval/openimages.py
Labels: bug

#5172 Readme file refresh
  README.md
Labels: documentation, good first issue

#5352 README Refresh Pass
  README.md
Labels: documentation

#5354 check typeof offscreen canvas in IIFE
  app/packages/looker/src/worker/canvas-decoder.ts
Labels: bug, app

#5368 get dynamic groups target frame rate from app config instead of harcoded value
  app/packages/app/src/pages/datasets/__generated__/DatasetPageQuery.graphql.ts
  app/packages/core/src/components/Modal/ImaVidLooker.tsx
  app/packages/looker/src/elements/imavid/index.ts
  app/packages/looker/src/lookers/imavid/constants.ts
  app/packages/looker/src/lookers/imavid/controller.ts
  app/packages/looker/src/util.ts
  app/packages/relay/src/fragments/__generated__/datasetAppConfigFragment.graphql.ts
  app/packages/relay/src/fragments/datasetAppConfigFragment.ts
  app/packages/relay/src/queries/__generated__/datasetQuery.graphql.ts
  app/packages/state/src/hooks/useCreateLooker.ts
  app/packages/state/src/recoil/selectors.ts
  app/packages/state/src/recoil/types.ts
  app/schema.graphql
  fiftyone/core/odm/dataset.py
  fiftyone/server/query.py
Labels: app

#5378 Fix adding new tags in tagging action
  app/packages/core/src/components/Actions/Checker.tsx
  app/packages/core/src/components/Actions/Tagger.tsx
  app/packages/core/src/components/Actions/utils.tsx
Labels: bug, app

#5394 support media fields in ImaVid
  app/packages/core/src/components/Modal/ImaVidLooker.tsx
  app/packages/core/src/components/Modal/ModalLooker.tsx
  app/packages/state/src/hooks/useCreateLooker.ts
  app/packages/state/src/recoil/dynamicGroups.ts
Labels: bug, app

#5420 prevent operator prompt exit when isExecuting
  app/packages/operators/src/OperatorPalette.tsx
Labels: bug, plugins

#5419 fix mime type error
  app/packages/looker/src/processOverlays.test.ts
  app/packages/looker/src/processOverlays.ts
  app/packages/looker/src/worker/canvas-decoder.ts
Labels: bug, app

#5279 Add support for custom evaluation metrics
  app/packages/core/src/plugins/SchemaIO/components/NativeModelEvaluationView/Evaluation.tsx
  fiftyone/operators/__init__.py
  fiftyone/operators/evaluation_metric.py
  fiftyone/operators/registry.py
  fiftyone/utils/eval/activitynet.py
  fiftyone/utils/eval/base.py
  fiftyone/utils/eval/classification.py
  fiftyone/utils/eval/coco.py
  fiftyone/utils/eval/detection.py
  fiftyone/utils/eval/openimages.py
  fiftyone/utils/eval/regression.py
  fiftyone/utils/eval/segmentation.py
  plugins/panels/model_evaluation/__init__.py
  tests/unittests/operators/registry_tests.py
Labels: feature

#5437 Fix `session.wait()`
  fiftyone/server/events/dispatch.py
  fiftyone/server/events/listener.py
  tests/unittests/server_events_tests.py
Labels: bug, server

#5428 Allow SelectGroupSlices for QP
  app/packages/state/src/recoil/queryPerformance.test.ts
  app/packages/state/src/recoil/queryPerformance.ts
Labels: enhancement, app

#5436 Support adding custom metrics to existing evaluations
  docs/source/user_guide/evaluation.rst
  fiftyone/utils/eval/base.py
Labels: feature
