Repository voxel51/fiftyone, pull requests merged in 2025-02, with the labels that each got.

#5417 Optimize modal sample tagging
  app/packages/core/src/components/Actions/Tagger.tsx
  app/packages/core/src/components/Actions/utils.tsx
  app/packages/state/src/recoil/aggregations.ts
  app/packages/state/src/recoil/modal.ts
  app/packages/state/src/recoil/pathData/tags.ts
  fiftyone/server/aggregations.py
Labels: enhancement, app

#5460 Add select/exclude field stages to Query Performance
  app/packages/state/src/recoil/queryPerformance.test.ts
  app/packages/state/src/recoil/queryPerformance.ts
Labels: enhancement

#5415 ObjectId Sidebar Filter Fixes
  app/packages/core/src/components/Filters/StringFilter/state.ts
  app/packages/core/src/components/Filters/StringFilter/useOnSelect.ts
  app/packages/utilities/src/type-check.ts
  fiftyone/server/lightning.py
  tests/unittests/lightning_tests.py
Labels: bug, enhancement, app

#5477 debounce update sample to address DataCloneError
  app/packages/looker/src/lookers/abstract.ts
  app/packages/looker/src/worker/index.ts
Labels: bug, app

#5475 Fix exporting frame segmentations
  fiftyone/utils/labels.py
Labels: bug

#5496 fix bug where custom defined colorscale wasn't being applied in heatmap tooltip
  app/packages/looker/src/overlays/heatmap.ts
  app/packages/looker/src/state.ts
Labels: bug, app

#5487 add global loading indicator in the grid for selective rendering
  app/packages/core/src/components/Grid/Grid.tsx
  app/packages/core/src/hooks/index.ts
  app/packages/core/src/hooks/useSyncLabelsRenderingStatus.tsx
  app/packages/looker/src/lookers/abstract.ts
  app/packages/looker/src/worker/async-labels-rendering-manager.ts
  app/packages/state/src/jotai/index.ts
Labels: app

#5513 Optimize modal sample tagging (#5417) for 1.3.1
  app/packages/core/src/components/Actions/Tagger.tsx
  app/packages/core/src/components/Actions/utils.tsx
  app/packages/state/src/recoil/aggregations.ts
  app/packages/state/src/recoil/modal.ts
  app/packages/state/src/recoil/pathData/tags.ts
  fiftyone/server/aggregations.py
Labels: enhancement

#5502 Pass custom label schema attribute keys to annotation backends
  fiftyone/utils/annotations.py
Labels: annotation

#5515 use better heuristics for buffering in timeline
  app/packages/core/src/components/Modal/ImaVidLooker.tsx
  app/packages/playback/eslint.config.mjs
  app/packages/playback/index.ts
  app/packages/playback/src/lib/constants.ts
  app/packages/playback/src/lib/state.test.ts
  app/packages/playback/src/lib/state.ts
  app/packages/playback/src/lib/use-create-timeline.ts
  app/packages/playback/src/lib/use-timeline.ts
  app/packages/playback/src/views/PlaybackElements.tsx
  app/vite.config.ts
Labels: app

#5198 Add support for selecting/excluding group slices
  docs/source/user_guide/groups.rst
  fiftyone/__public__.py
  fiftyone/core/collections.py
  fiftyone/core/dataset.py
  fiftyone/core/stages.py
  fiftyone/core/view.py
  fiftyone/server/query.py
  fiftyone/server/view.py
  tests/unittests/group_tests.py
  tests/unittests/server_dataset_tests.py
  tests/unittests/server_group_tests.py
  tests/unittests/server_lightning_tests.py
  tests/unittests/server_state_tests.py
  tests/unittests/server_view_tests.py
Labels: feature
